$clr_azulOscuro:  #111735;
$clr_azulClaro:  #1B2249;
$clr_azul:  #1D31A1;
$clr_dorado:  #EFC083;
$clr_textoSidebar: #FFEDD7;

$fuenteTitulos: 'Open Sans Condensed','Open Sans', sans-serif,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$tamañoTitulo: 2.2rem;