@use "../../styles/variables/colores" as *;

.cargarOrdenContainer{
    & > :not(nav){
        margin-left: 3rem;
    }
    h2{
        color: $clr_azul;
        font-size: calc(#{$tamañoTitulo} - 1rem);
        margin-bottom: 5px;
    }
    //Navbar - flecha atras
    nav{
        background-color: white;
        a{
            display: block;
            width: 4rem;
            height: 4rem;
        }
        a svg{
            width: 100%;
            height: 100%;
            border-right: solid 1px rgba(210, 211, 217, 0.602);
        }
    }
    //Titulo pagina
    .titulo{
        font-family: $fuenteTitulos;
        color: $clr_azul;
        font-size: $tamañoTitulo;
        margin-top: 3rem;
    }
    //Container de todas las secciones para cargar info
    .cargarInfoContainer{
        display: flex;
        flex-wrap: wrap;
        //Si el input está vacio
        .inputVacio input{
            outline: #E20F0F solid 1px;
            border: 1px solid #E20F0F;
        }
        //Todos los contenedores para cargar info
        & > div{
            background-color: white;
            width: fit-content;
            margin: 20px 0;
            margin-right: 30px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 18px rgba(140, 143, 163, 0.1);
        }
        //Todos los input y select
        input, select{
            background-color: #F5F5F5;
            border: 1px solid $clr_azulClaro;
            border-radius: 5px;
            padding: 5px;
            color: $clr_azulClaro;
            &:focus{
                outline: $clr_azul solid 1px;
            }
        }
        //Entrega
        .cargarEntrega{
            & > div:not(:first-child, :last-child){
                margin-bottom: 15px;
            }
            //Header
            .header{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .tituloHeader{
                    font-size: calc(#{$tamañoTitulo} - .4rem);
                    margin-left: 10px;
                    color: $clr_azul;
                }
                svg{
                    fill: $clr_azul;
                }
            }
            //Fechas
            .fechas{
                display: flex;
                .fechaCompra input{
                    width: 22ch;
                    cursor: pointer;
                }
                .fechaEntrega{
                    margin-left: 20px;
                    input{
                        width: 35ch;
                        cursor: pointer;
                    }
                }
            }
        }
        //Muebles
        .cargarMuebles{
            //Header
            .header{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .tituloHeader{
                    font-size: calc(#{$tamañoTitulo} - .4rem);
                    margin-left: 10px;
                    color: $clr_azul;
                }
                svg{
                    fill: $clr_azul;
                }
            }
            //Primer input de mueble
            .selectMuebles{
                display: flex;
                margin-bottom: 20px;

                //Nombre
                .selectNombre{
                    margin-right: 20px;
                    select{
                        width: 25ch;
                        cursor: pointer;
                    }
                }
                //Cantidad
                .inputCantidad{
                    margin-right: 20px;
                    input{
                        width: 11ch;
                    }
                }
                //Boton para agregar mas muebles
                .btnAgregarMueble{
                    display: flex;
                    align-self: flex-end;
                    justify-content: center;
                    align-items: center;
    
                    width: 1.9rem;
                    height: 1.9rem;
    
                    background-color: #F5F5F5;
                    border: 1px solid $clr_azulClaro;
                    border-radius: 5px;
                    color: $clr_azulClaro;
                    cursor: pointer;
                    &:focus{
                        outline: $clr_azul solid 1px;
                    }
                }
                //Selectores que se agregan despues
                & > select{
                    width: 25ch;
                    margin-right: 20px;
                    cursor: pointer;
                }
                & > input{
                    width: 11ch;
                    margin-right: 20px;
                }
            }
            & > :last-child{
                margin-bottom: 0;
            }
        }
        //Cliente
        .cargarCliente{
            //Header
            .header{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .tituloHeader{
                    font-size: calc(#{$tamañoTitulo} - .4rem);
                    margin-left: 10px;
                    color: $clr_azul;
                }
                svg{
                    fill: $clr_azul;
                }
            }
            select{
                width: 20ch;
                cursor: pointer;
            }
        }
    }
    //Boton guardar cambios
    .btnGuardarCambios{
        font-family: $fuenteTitulos;
        font-size: calc(#{$tamañoTitulo} - 1rem);
        font-weight: bold;
        color: white;
        background-color: #68B319;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 7px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        svg{
            fill: white;
            margin-right: 5px;
        }
    }
}